<div class="header">
  <h2 class="title">
    <span>report name</span>    
  </h2>
  <label class="coverage-toggle">
    <input class="uk-checkbox" type="checkbox">
    <span>Coverage</span>
  </label>
</div>
<div class="body">
  <div class="main-area">
    <ul class="reports-tab">
      <li><a href="#">Features</a></li>
      <li><a href="#">Specs</a></li>
    </ul>
    <div class="reports-tab-panels">
      <div class="reports-area feature">
        <div class="test">
          <ul>
            <li>Feature Item</li>
            <li>Feature Item</li>
            <li>Feature Item</li>
            <li>Feature Item</li>
          </ul>
        </div>
      </div>
      <div class="reports-area spec">
        <div class="test">
          <ul>
            <li>Spec Item</li>
            <li>Spec Item</li>
            <li>Spec Item</li>
            <li>Spec Item</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar hide">
    <iframe class="coverage-preview" src="http://localhost:5001/coverage"></iframe>
  </div>
</div>
