<div class="header">
  <h1 class="title">
    <span>Behave Reporter</span>    
  </h1>
  <label class="coverage-toggle">
    <input class="uk-checkbox" type="checkbox">
    <span>Coverage</span>
  </label>
</div>
<div class="body">
  <div class="main-area">
    <ul class="reports-tab">
      <li>Features</li>
      <li>Specs</li>
    </ul>
    <div class="reports-tab-panels">
      <div class="reports-area feature">
      </div>
      <div class="reports-area spec">
      </div>
    </div>
  </div>
  <div class="sidebar">
    <iframe class="coverage-preview" src="http://localhost:5001/coverage"></iframe>
  </div>
</div>
