<div class="header">
  <h2 class="title">
    <span data-domo="bind: name">report name</span>    
  </h2>
  <div class="ui checkbox coverage toggle">
    <input class="toggle coverage" type="checkbox">
    <span>Coverage</span>
  </div>
</div>
<div class="body">
  <div class="main-area">
    <ul class="ui tabs reports-tab">
      <li><button class="ui tab button feature">Features</button></li>
      <li><button class="ui tab button spec">Specs</button></li>
      <li>
        <input type="text" placeholder="filter..." class="ui text input"/>
      </li>
    </ul>
    <div class="reports-tab-panels">
      <div class="ui tab panels reports-area feature">
        <behave-feature-list data-id="1"></behave-feature-list>
        <!--
          <behave-feature-list></behave-feature-list>
          <ul class="feature listing">
            <behave-feature-list></behave-feature-list>
            <behave-feature-list></behave-feature-list>
            <behave-feature-list></behave-feature-list> 
            <li>Feature Item</li>
            <li>Feature Item</li>
            <li>Feature Item</li>
            <li>Feature Item</li>
          </ul>
        -->
      </div>
      <div class="ui tab panels reports-area spec hide">
        <ul>
          <li>Spec Item</li>
          <li>Spec Item</li>
          <li>Spec Item</li>
          <li>Spec Item</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sidebar hide">
    <iframe class="coverage-preview" src="http://localhost:5001/coverage"></iframe>
  </div>
</div>
